h1 {
  color:#a1661f;
  right: 580px;
position: absolute;
  top: -40px;

}



.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  color: #ffffff;
  
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text {
  position: absolute;
  right: 0px;
}


body{
 background: #800000;
  margin: 0;
  padding: 0;
}
.container{
  text-align: center;
  margin-top: 10px;
}
.btn{
  border: 2px solid #000000;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "italic";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1,.btn2{
  color: #ffffff;
}

.btn1:hover{
  color: #03b1fc;
}


.btn1::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #ffffff;
  z-index: -1;
  transition: 0.8s;
}

.
.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before, {
  height: 180%;
}
